.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
  background-color: dodgerblue;
  margin-right: 530px;
  margin-left: 530px;
}

body {
  background-color: black;
  padding: 20px 30px 20px 30px;
}
input {
  text-align: right;
  width: 245px;
}
.btn {
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-color: black;
  border-width: 2px;
}

.btn-est-sx {
  margin-right: 15px;
  margin-bottom: 15px;
}

.btn-center {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.btn-est-dx {
  margin-left: 15px;
  margin-bottom: 15px;
}

.num {
  background-color: rgb(255, 255, 122);
}

.oper {
  background-color: rgb(216, 104, 0);
}
